img{
    height:500px;
    width:500px;
}
h6{
    font-size:16px;
}
.results{
    background-color:rgb(198, 226, 252);
}
table{
    border-collapse:collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-size:28px;
}
th,
td{
    border:2px solid #000000
}
.ibrahimovic{
    font-size:40px;
    color:black;
    font-family:fantasy;
}
h4{
    font-family:sans-serif;
    color:black;
    font-size:25px;
}
.ibra{
    font-size:65px;
    color:black;
    font-family:cursive;
}